@using GamMaSite.Services;
@model IEnumerable<ContentMeta>;
@inject UserManager<SiteUser> UserManager

@{
    ViewData["Title"] = "Bibliotek";
}

<h1>Bibliotek</h1>
<table class="table table-sm table-bordered" id="bibliotek">
    <thead class="thead-dark">
        <tr>
            <th>Sti</th>
        </tr>
    </thead>
    @foreach (ContentMeta meta in Model)
    {
        <tr>
            <td><a href="@string.Concat("/Library?path=", meta.Path)">@meta.TypeConverted() @meta.Path</a></td>
        </tr>
    }
</table>
@if (User.IsInRole("Admin"))
{
<a class="btn btn-primary" href="https://github.com/gamma-math/gammastatic">Redigér filer</a>
}
<script>
    $(document).ready(function () {
        $('#bibliotek').DataTable(
            {
                order: [0, 'asc'],
                language: {
                    paginate: {
                        previous: "Forrige",
                        next: "Næste"
                    },
                    lengthMenu: "_MENU_ per side",
                    search: "Søg:",
                    info: "Viser element _START_ til _END_",
                    infoEmpty: "Visning af element 0 til 0 på 0 elementer",
                    dataTables_empty: "Ingen data i tabellen",
                    zeroRecords: "Intet match på søgning",
                    infoFiltered: "(filtreret fra i alt _MAX_ elementer)",
                    emptyTable: "Ingen data i tabellen"
                },
                lengthMenu: [100],
                bLengthChange: false
            }
        );
    });
</script>