{
  "folders": [
    {
      "name": "gamma-site",
      "path": "."
    },
    {
      "name": "Backend",
      "path": "./src/backend/GamMaSite"
    },
    {
      "name": "Frontend",
      "path": "./src/frontend"
    },
    {
      "name": "SQL",
      "path": "./SQL"
    },
    {
      "name": "Docs",
      "path": "./docs"
    }
    ],
    "settings":
    {
      "files.exclude": {}
    }
}
