@{
    ViewData["Title"] = "Overfør valgfrit beløb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("pk_test_XbTXDRaWHSTKiNxGsvv8CKP100NnEtOaQd");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            var money = document.getElementById("money").value;
            var desc = document.getElementById("description").value;
            fetch(window.location.origin + "/api/Stripe/Generic?name=Generisk&price=" + money + "&description=" + desc, {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
}

<h1>Overfør valgfrit beløb</h1>

<section>
    <div class="form-group">
        <label><b>Beløb:</b></label>
        <input type="number" class="form-control" id="money" placeholder="Indtast beløb..." />
        <br />
        <label><b>Beskrivelse:</b></label>
        <input type="text" class="form-control" id="description" placeholder="Indtast beskrivelse..." />
    </div>
    <button type="submit" class="btn btn-primary" id="checkout-button">Overfør beløb</button>
</section>
