@page
@model Disable2faModel
@{
    ViewData["Title"] = "Deaktivér to-faktor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Denne handling slår alene 2FA fra.</strong>
    </p>
    <p>
        Deaktivéring af 2FA påvirker ikke nøglerne, der bruges i authentication apps. Såfremt du ønsker at ændre
        en nøgle, der anvendes i en authentication app bedes du
        <a asp-page="./ResetAuthenticator">nulstille dine authentication nøgler.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>
