@{
    ViewData["Title"] = "Arrangementer";
}

    <div>
        <h1 class="display-4">Arrangementer og initiativer</h1>
        <p>
            Alumneforeningen GamMa tilbyder medlemmerne en bred vifte af faglige og sociale arrangementer.
            Nogle arrangementer er kun for foreningens medlemmer, mens eksempelvis kærester og børn er velkomne
            til andre arrangementer. Vi bestræber os på at holde billetpriserne lave ved arrangementer med entré,
            og vi har desuden en del arrangementer med fri entré.
        </p>
        <p>
            Udover nedenstående tilbagevendende begivenheder arrangerer GamMa også andre enkeltstående arrangementer.
            I 2018 planlægger GamMa og IMF at holde endnu en stor reunion for alle forhenværende matematikere,
            som sidste gang blev afholdt i 2015.
        </p>
        <p>
            Forslag til nye arrangementer er altid meget velkomne, og vi tager med glæde imod initiativer fra medlemmer.
            De sidste par år har nogle af vores medlemmer inviteret til fastelavnsfest for både GamMa-medlemmer og studerende.
        </p>
        <h2>
            Fyraftenscafé
        </h2>
        <p>
            Vi mødes på en café i København efter arbejdstid og hygger os over en øl eller kaffe og evt. aftensmad.
            Fyraftenscaféen finder sted på en ny café hver gang, og vi bestræber os på at vælge forskellige ugedage.
            Afholdes jævnligt med 1-3 måneders mellemrum. Fyraftenscaféerne er åbne for alle, så man er velkommen til
            at tage en ven med under armen.
        </p>
        <h2>
            Virksomhedsbesøg
        </h2>
        <p>
            Vi besøger udvalgte virksomheder, der kan være af jobmæssig relevans for uddannede matematikere eller
            nuværende matematikstuderende. Arrangementet foregår på en hverdagsaften, typisk I tidsrummet 17-20,
            og det går ganske enkelt ud på at virksomheden introducerer sig og fortæller, hvad de har at byde på.
            Der serveres som regel et let måltid ifm. virksomhedsbesøget. Det er gratis at deltage i virksomhedsbesøg.
            Vi har tidligere været på besøg hos bl.a. Nordea, Schantz og Netcompany.
        </p>
        <h2>
            Julefrokost
        </h2>
        <p>
            Mod et mindre beløb har du mulighed for at deltage i GamMas årlige julefrokost, med masser af mad, drikke,
            hygge og underholdning. Julefrokosten afholdes i december eller januar og er eksklusivt for foreningens medlemmer.
        </p>
        <h2>
            Hyggeforelæsninger
        </h2>
        <p>
            Når vi støder på et relevant emne/en relevant foredragsholder, afholder vi gratis hyggeforelæsning.
            Arrangementet afholdes i samarbejde med Institut for Matematiske Fag, og består af en faglig forelæsning
            på instituttet samt efterfølgende social og faglig networking. Der serveres som regel et let måltid ifm. hyggeforelæsningen.
            Af eksempler kan nævnes at Søren Eilers har holdt hyggeforelæsning om eksperimentel matematik,
            og Lars Tackmann har fortalt om en matematikers iværksættereventyr. Hyggeforelæsninger er både for GamMa-medlemmer og studerende.
        </p>
        <h2>
            Hyttetur
        </h2>
        <p>
            Hytteturen, finder sted i en hytte på Sjælland i løbet af sommeren.
            Turen varer fra fredag kl. 16 til søndag kl. 14. Turen er for GamMa-medlemmer samt deres familier (mænd/koner/kærester/børn).
            Vi gør en dyd ud af at der skal være plads til både havespil og hygge med børn, samt mulighed for massiv druk om aftenen for de voksne :-)
            Deltagelse i hytteturen kræver køb af billet, til gengæld sørger GamMa for rigeligt med mad og drikke til alle,
            og medbringer desuden nogle spil. Og så håber vi på godt vejr!
            
        </p>
        <h2>
            Sensommerfest
        </h2>
        <p> Dette er lidt tid siden det har været arrangeret, men vi håber at kunne vende tilbage i 2021!
            Vi griller og hygger foran HCØ en lørdag i september. Arrangementet er både for medlemmer og kærester + børn.
            I 2015 udgår sensommerfesten pga. en større genforeningsfest for alle gamle matematikere fra KU.
        </p>
        <h2>
            Karrieredag
        </h2>
        <p>
            Karrieredagen foregår ca. en gang om året, og arrangeres i samarbejde med Matematisk Fagråd.
            Til karrieredagen får du mulighed for at høre 3-4 færdiguddannede matematikere fortælle om hvor de er endt i jobverdenen,
            og hvordan de har brugt deres matematiske baggrund i deres job. Efterfølgende bydes der på et let måltid og networking.
            Arrangementet er gratis, og er for både GamMa-medlemmer og studerende.
        </p>
    </div>
