@{
    ViewData["Title"] = "Betingelser";
}

<div>
    <h1 class="display-4">Brugerbetingelser</h1>
    <p>
        Ved oprettelse af GamMa-medlemskab på denne side accepteres det, at følgende informationer er tilgængelige for GamMas øvrige medlemmer:
    </p>
    <ul>
        <li>Navn</li>
        <li>Årgang</li>
        <li>Telefonnummer</li>
        <li>Mail</li>
        <li>Arbejde</li>
        <li>Adresse</li>
    </ul>
    <p>
        Du kan til enhver tid besøge <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Administrér">denne side</a> for at regulere disse informationer.
    </p>
    <p>
        Specielt kan informationer udelades og skjules, hvis dette ønskes.
    </p>
    <p>
        GamMas bestyrelse forbeholder sig retten til at kontakte medlemmer via ovenstående oplysninger.
    </p>
    <p>
        GamMa videredistribuerer ikke dine informationer til kommerciel brug eller til tredjeparter, der ikke er direkte relateret til Institut for Matematiske Fag.
    </p>
</div>
