@{
    ViewData["Title"] = "Cookies";
}

<div>
    <h1 class="display-4">Cookies</h1>
    <p>
        Alumneforeningen GamMa indsamler cookies i forbindelse med login på denne side. Ved login gives accept til, at dette må finde sted.
    </p>
    <p>
        De indsamlede cookies anvendes alene til at muliggøre login på hjemmesiden.
    </p>
    <p>
        GamMa benytter ikke information fra cookies til kommercielle formål, og dine cookies videregives ikke til tredjeparter.
    </p>
    <p>
        Denne hjemmesides loginsystem er baseret på <a href="https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity">ASP.NET Core Identity</a>, som kræver brug af cookies.
    </p>
</div>
