@{
    ViewData["Title"] = "Om GamMa";
}

    <div>
        <h1 class="display-4">Om GamMa</h1>
        <p>
            Alumneforeningen GamMa er en forening for <u>Gam</u>le <u>Ma</u>tematikere,
            dvs. forhenværende og nuværende studerende, der har en bachelor- og/eller kandidatgrad
            indenfor <a target="_blank" href="https://www.math.ku.dk/">de matematiske fag på Københavns Universitet</a>.
        </p>
        <p>
            GamMa blev stiftet i november 2011 og har som primært formål at formidle og vedligeholde kontakten mellem tidligere studerende på uddannelserne, samt at arrangere og afholde diverse sociale og faglige arrangementer.
        </p>
        <p>
            Læs mere i <a href="https://gamma-math.github.io/gammastatic/vedtaegter-gamma.pdf">GamMas vedtægter</a>.
-        </p>
        <hr />
        <p>
            <b>
                Betingelser for medlemskab
            </b>
        </p>
        <p>
            For at kunne blive medlem af foreningen, skal du opfylde følgende kriterium (fra §3 i foreningens vedtægter):
        </p>
        <p style="text-indent: 50px;">
            <i>
                Personer, som har opnået en bachelor- og/eller kandidatgrad fra Institut for Matematiske Fag ved Københavns Universitet,
                kan optages i foreningen.
            </i>
        </p>
        <p>
            Årskontingentet i GamMa er kr. 100,- for dimmitender. Hvis du melder dig ind i dag, vil medlemskab for resten af året kun koste kr 50,-.
            Hvis du er kandidatstuderende er medlemskab gratis.
        </p>
    </div>
