@{
    ViewData["Title"] = "Om GamMa";
}

    <div>
        <h1 class="display-4">Om GamMa</h1>
        <p>
            Alumneforeningen GamMa er en forening for <u>Gam</u>le <u>Ma</u>tematikere,
            dvs. forhenværende og nuværende studerende, der har en bachelor- og/eller kandidatgrad
            indenfor <a href="https://www.math.ku.dk/">de matematiske fag på Københavns Universitet</a>.
        </p>
        <p>
            GamMa blev stiftet i november 2011 og har som primært formål at formidle og vedligeholde kontakten mellem tidligere studerende på uddannelserne, samt at arrangere og afholde diverse sociale og faglige arrangementer.
        </p>
        <p>
            Læs mere i <a href="https://gamma-math.github.io/gammastatic/vedtaegter-gamma.pdf">GamMas vedtægter</a>.
        </p>
        <hr />
        <p>
            <b>
                Betingelser for medlemskab
            </b>
        </p>
        <p>
            For at kunne blive medlem af foreningen, skal du opfylde følgende kriterium (fra §4 i foreningens vedtægter):
        </p>
        <p style="text-indent: 50px;">
            <i>
                Følgende personer kan optages i foreningen;
                <ol type="A">
                    <li>Personer der har opnået en bachelor-, kandidat- og/eller PhD-grad fra Institut for Matematiske Fag - Københavns Universitet. </li>
                    <li>Personer der er indskrevet på kandidat- eller PhD-studiet ved Institut for Matematiske Fag - Københavns Universitet. </li>
                    <li>Personer der har opnået en grad ved et hvilket som helst universitet og bestået 90 ECTS-point fra Institut for Matematiske Fag - Københavns Universitet. </li>
                </ol>
            </i>
        </p>
        <p>
            Årskontingentet i GamMa er kr. 150,- for dimmitender. Såfremt du melder dig ind i dag for første gang, vil medlemskab for resten af året kun koste kr. 75,-.
            Hvis du er kandidatstuderende er medlemskab gratis.
        </p>
    </div>
