@{
    ViewData["Title"] = "Om GamMa";
}

    <div>
        <h1 class="display-4">Om GamMa</h1>
        <p>
            Alumneforeningen GamMa er en forening for <u>Gam</u>le <u>Ma</u>tematikere,
            dvs. forhenværende og nuværende studerende, der har en bachelor- og/eller kandidatgrad
            indenfor matematik de matematiske fag på Københavns Universitet.
        </p>
        <p>
            GamMa blev stiftet i november 2011 og har som primært formål at formidle og vedligeholde kontakten mellem tidligere studerende på uddannelserne, samt at arrangere og afholde diverse sociale og faglige arrangementer.
        </p>
        <p>
            Læs mere i GamMas vedtægter.
        </p>
    </div>
