@page
@model LockoutModel
@{
    ViewData["Title"] = "Låst ude";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Denne profil er blevet låst ude, prøv igen senere.</p>
</header>
