@page
@model RegisterModel
@{
    ViewData["Title"] = "Opret ny GamMa-bruger";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4 d-grid gap-1">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <!--<h4>Opret ny GamMa-bruger</h4>-->
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating p-1">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder=" " />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating p-1">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder=" " />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating p-1">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder=" " />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating p-1">
                <input asp-for="Input.Navn" class="form-control" autocomplete="name" aria-required="true" placeholder=" " />
                <label asp-for="Input.Navn"></label>
                <span asp-validation-for="Input.Navn" class="text-danger"></span>
            </div>
            <div class="form-floating p-1">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="tel" aria-required="true" placeholder=" " />
                <label asp-for="Input.PhoneNumber"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating p-1">
                <input asp-for="Input.Aargang" class="form-control" aria-required="true" placeholder=" " />
                <label asp-for="Input.Aargang"></label>
                <span asp-validation-for="Input.Aargang" class="text-danger"></span>
            </div>
            <div class="form-floating p-1">
                <input asp-for="Input.Beskaeftigelse" class="form-control" autocomplete="organization-title" aria-required="true" placeholder=" " />
                <label asp-for="Input.Beskaeftigelse"></label>
                <span asp-validation-for="Input.Beskaeftigelse" class="text-danger"></span>
            </div>
            <div class="form-floating p-1">
                <input asp-for="Input.Adresse" class="form-control" aria-required="true" placeholder=" " />
                <label asp-for="Input.Adresse"></label>
                <span asp-validation-for="Input.Adresse" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Tilmeld</button>
            <br /><br />
            <div>
                &#9989; <a href="/Home/Betingelser">Brugerbetingelser</a> og <a href="/Home/Cookies">Cookie</a>-politik accepteres ved tilmelding.
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
