@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Bekræftelse af nulstilling af password";
}

<h1>@ViewData["Title"]</h1>
<p>
    Dit password er blevet nulstillet. <a asp-page="./Login">Klik venligst her for at logge ind</a>.
</p>
