@model IEnumerable<GamMaUser>

@{
    ViewData["Title"] = "Medlemmer";
}

<h1 class="">Medlemsoversigt</h1>
<br />
<table class="table table-sm table-bordered display nowrap" id="medlemmer">
    <thead class="thead-dark">
        <tr>
            <th>Navn</th>
            <th>Årgang</th>
            <th>Beskæftigelse</th>
        </tr>
    </thead>
    @foreach (GamMaUser user in Model.OrderBy(it => it.Navn))
    {
        if (new[] { UserStatus.BETALT, UserStatus.SKYLDER }.Contains(user.Status))
        {
    <tr>
        <td>@user.Navn</td>
        <td>@user.Aargang</td>
        <td>@user.Beskaeftigelse</td>
    </tr>
        }
    }
</table>
<script>
    $(document).ready(function () {
        $('#medlemmer').DataTable(
            {
                responsive: {
                    details: {
                        type: 'column',
                        type: 'tr'
                    }
                },
                order: [0, 'asc'],
                language: {
                    paginate: {
                        previous: "Forrige",
                        next: "Næste"
                    },
                    lengthMenu: "_MENU_ per side",
                    search: "Søg:",
                    info: "Viser element _START_ til _END_",
                    infoEmpty: "Visning af element 0 til 0 på 0 elementer",
                    dataTables_empty: "Ingen data i tabellen",
                    zeroRecords: "Intet match på søgning",
                    emptyTable: "Ingen data i tabellen"
                },
                lengthMenu: [50, 75, 100, 200, 500, 1000]
            }
        );
    });
</script>